@model List<Document>
@{
}

<h2 class="text-center mb-5">List of Documents</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Documents" asp-action="Create">New Document</a>
    </div>
    <div class="col">

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Document Name</th>
            <th>Document Code</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var document in Model)
        {
            <tr>
                <td>@document.DocumentName</td>
                <td>@document.DocumentCode</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary" asp-controller="Documents" asp-action="Delete" asp-route-id="@document.DocumentId">View</a>

                    <a class="btn btn-danger" asp-controller="Documents" asp-action="Edit" asp-route-id="@document.DocumentId">Edit</a>
               

                </td>
            </tr>
        }
    </tbody>
</table>
